body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar {
  background-color: #343a40 !important;
}

.nav-item a {
  color: #fff !important;
  transition: 0.5s;
}

.nav-item a:hover {
  color: #b6b6b6 !important;
}
